<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>

    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

            <!-- Rolling File Appender -->
            <RollingFile name="FILE" fileName="D:\github\Decoder-Project\course\logs\myLog.log"
                         filePattern="D:\github\Decoder-Project\course\logs\myLog-%d{yyyy-MM-dd}-%i.log">
                <PatternLayout>
                    <Pattern>${LOG_PATTERN}</Pattern>
                </PatternLayout>
                <Policies>
                    <SizeBasedTriggeringPolicy size="10MB" />
                </Policies>
                <DefaultRolloverStrategy max="10"/>
            </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="FILE" />
        </Root>
    </Loggers>

</Configuration>